h1{
    text-align: center;
    font-family: georgia;
    color: white;
}
body{
    background: linear-gradient(45deg, #BB1881,#F88B50);
    font-family: sans-serif;
}
form{
    background-color: rgb(61, 65, 85);
    width: 450px;
    margin: auto;
    margin-top: 220px;
    border-radius: 5px;
}

input{
    margin-left: 110px;
}

.ingresar{
    border-radius: 10px;
    padding: 10px 30px;
    color: gray;
    border-color: white;
}

.botones{
    margin-top: 5px;
    border-radius: 5px; 
    padding: 10px 20px;
    margin-left: 160px;
    background-color: #BB1881,#F88B50;
    color: black;
    font-family: arial black;
    border-color: gray;
}